{% extends "users/base.jinja2" %}
{% block content %}
    <h1 class='event-name'>{{ event }}</h1>
    <p class='event-date'> {{ event.date }} </p>
    <div class='event-earnings'>
        <h3>Total Vendido</h3>
        <p>R$ {{ total_earnings }}</p>
    </div>
    <div class='products-sold'>
        <h3>Produtos Vendidos</h3>
        {% for product in products_sold %}
            <p> {{ product }} - {{ product.total_sold }} un</p>
        {% endfor %}
    </div>
{% endblock %}